
body {
   background: url("../img/159.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
}

h1 {
  font-family:"Felt";
  font-size: 4em;
  color: white;
  margin: 0;
  padding: 14px 0 43px 0;
  text-align: center;
}

.box {
  background: rgba(0, 0, 0, 0.8);
  width: 600px;
  height: 420px;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.8);
  /* Positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-box {
  position: relative;
}

.input-box input {
  font-family: "Felt";
  border-style: none;
  background: transparent;
  border-bottom: 1px solid white;
  width: 100%;
  position: relative;
  outline: none;
  padding: 10px 0;
  color: white;
  font-size: 22px;
  margin-bottom: 30px;
}

.input-box label {
  font-family:"Felt";
  font-size: 22px;
  color: white;
  position: absolute;
  padding: 10px 0;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label, 
.input-box input:valid ~ label {
  font-family:"Felt";
  color: white;
  font-size: 16px;
  top: -20px;
  transition: 0.5s;
}
@font-face { font-family: "Felt"; /*이름지정*/ src: url("../font/Felt Tip Roman Regular.ttf ");  } 

.box input[type="submit"] {
  font-family:"Felt";
  background: transparent;
  color: white;
  border-spacing: none;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.box input[type="button"] {
  font-family:"Felt";
  background: transparent;
  color: white;
  border-spacing: none;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}



.box input[type="submit"]:hover {
  background: #D8D8D8;
  border: 1px solid #D8D8D8;
  transition: 0.3s;
}
.box input[type="button"]:hover {
  background: #D8D8D8;
  border: 1px solid #D8D8D8;
  transition: 0.3s;
}
